<p class="contact-name">{{first-name}} {{last-name}}</p>
<div class="additional-contact-info" style="display: none">
  <p>email: <a href="mailto:{{email}}">{{email}}</a></p>
  <p>Phone Number: <a href="tel:+1{{phone-number}}">{{phone-number}}</a></p>
</div>
