<span>{{first-name}}</span>
<span>{{last-name}}</span>
<div class="additional-contact-info">
  <p>email: <a href="mailto:{{email}}">{{email}}</a></p>
  <p>Phone number: <a href="tel:+1{{phone-number}}">{{phone-number}}</a></p>
</div>
